.containerTable {
  position: absolute;
  top: 5.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.inputFilter{
  width: 100%;
  height: 100%;
  z-index: 2;
}
.MuiDataGrid-columnHeaderTitleContainerContent{
  width: 100% !important;
  padding: 1rem !important;
}
.css-r11z79-MuiDataGrid-root{
  border: 2px solid #d1d8e0 !important;
  background: #fff !important;
  color: #192a56 !important;
  font-family: "Poppins",sans-serif !important;
  font-weight: 600 !important;
  font-size: 0.875rem;
}
.css-ahj2mt-MuiTypography-root{
  color:#7d5fff !important;
  font-weight: 600 !important;
  text-decoration-line: underline;
  text-decoration-color:#a29bfe;
}
.css-levciy-MuiTablePagination-displayedRows{
  color:#7d5fff !important;
  font-family: "Poppins",sans-serif !important;
  font-weight: 700 !important;
}
.css-r11z79-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell{
  width: 100% !important;
  min-width: 150px;
  min-height: 150px;
}
.css-r11z79-MuiDataGrid-root .MuiDataGrid-cell{
  width: 100% !important;
  padding: 1.5rem !important;
}