.containerSigIn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}
.containerSigIn h1 {
  color: #7d5fff;
  margin-bottom: 30px;
  font-weight: 700;
}
.login {
  padding: 7.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://wallpaperaccess.com/full/3853210.jpg) no-repeat;
  background-position: center;
}

 .form {
  min-width: 330px;
  background: #202020;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  border-radius: 1rem;
  padding: 3rem;
}
.form input {
  min-width: 15rem;
  color: #192a56;
  font-weight: 600;
  font-size: 12px;
  border-radius: 0.5rem;
  border: #d1d8e0 2px solid;
  padding: 0.4rem;
  width: 20rem;
}
.emailField {
  margin-bottom: 2rem;
}

.form button{
  margin-bottom: 10px;
}

.btnGoogle{
  width: 20rem !important;
  border-radius: 10px !important;
  color: #192a56 !important;
}

.btnGoogle div{
  font-size: 0 !important;
  border-radius: 20px !important;
  padding: 6px 6px 6px !important;
  margin-left: 10px !important;
}

.btnGoogle span{
  margin-left: 30px !important;
}

.links {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.links a {
  font-size: 12px;
  color: #7d5fff;
  font-weight: 400;
  margin-bottom: 25px;
}
.links a:hover {
  color: darkslateblue;
}
body {
  overflow: hidden;
}
small {
  font-size: 12px;
  justify-content: right;
  text-decoration: underline;
  color: #7d5fff;
}
