* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
body{
  background: red;
.containerLogin {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;

  form {
    max-width: 35rem;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    border-radius: 1rem;
    padding: 2rem;

    input {
      min-width: 15rem;
      color: #192a56;
      font-weight: 600;
      font-size: 12px;
      border-radius: 0.5rem;
      border: #d1d8e0 2px solid;
      padding: 0.4rem;
      width: 20rem;
    }
    button {
      margin-bottom: 10px;
    }
    .containerSigIn {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .emailField {
        margin-bottom: 2rem;
      }

      .links {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
      }
      .links a {
        font-size: 12px;
        color: #7d5fff;
        font-weight: 400;
        margin-bottom: 25px;
      }
      .links a:hover {
        color: darkslateblue;
      }
      .btnGoogle {
        padding: 1px !important;
        width: 20rem !important;
        border-radius: 10px !important;
        color: #192a56 !important;
      }
    }
  }
}

h1 {
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700;
  span {
    color: #7d5fff;
  }
  small {
    font-size: 12px;
    justify-content: right;
    text-decoration: underline;
    color: #7d5fff;
  }
}
.btnGoogle div {
  font-size: 0 !important;
  border-radius: 20px !important;
  padding: 6px 6px 6px !important;
  margin-left: 10px !important;

  span {
    margin-left: 30px !important;
    color: #192a56 !important;
  }
}
}