* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
body {
  display: flex;
  justify-content: center;
  background: #202020;
}
.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30rem;
  margin-top: 7rem;
  h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    span {
      color: #7d5fff;
    }
    small {
      color: #7d5fff;
      font-size: 14px;
      text-decoration: underline;
      .iconLogin {
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
  input {
    border-radius: 4px;
    border: none;
    width: 20rem;
    padding: 8px;
    outline-color: #7d5fff;
  }
  .email {
    margin-top: 20px;
  }
  .password {
    margin-top: 30px;
    margin-bottom: 3px;
  }
  .btnGoogle div {
    font-size: 0 !important;
    border-radius: 20px !important;
    padding: 6px 6px 6px !important;
    margin-left: 10px !important;
  }
  .btnGoogle {
    opacity: (100) !important;
    margin-top: 10px;
    width: 20rem;
    border-radius: 8px !important;
    cursor: pointer;
  }
  .links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    a {
      font-size: 13px;
      color: #7d5fff;
    }
  }
  .or {
    text-align: center;
  }
}
