*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body{
  .container {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    flex-direction: column;
  }
  .containerForm {
    background: url(https://images6.alphacoders.com/394/394751.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
  }
  .form h1 {
    color: #f5f6fa;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .form span {
    color: #7d5fff;
  }
  .form {
    padding: 1rem 1rem;
    margin-top: 2px;
    background: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
  }
   .form input {
    min-width: 15rem;
    color: #192a56;
    font-weight: 600;
    font-size: 12px;
    border-radius: 0.5rem;
    border: #d1d8e0 2px solid;
    padding: 0.4rem;
    width: 20rem;
  }
  .form select {
    color: #1dd1a1;
    font-weight: 600;
    font-size: 12px;
    border-radius: 0.5rem;
    border: #d1d8e0 2px solid;
    padding: 0.4rem;
    width: 20rem;
  }
  .form select option {
    font-weight: 600;
    color: #2f3640;
    background: #f5f6fa;
  }
  h4 {
    color: #f5f6fa;
    margin-top: 10px;
  }
  .info {
    display: flex;
    margin-top: 5px;
  }
  .caixa {
    display: flex;
  }
  .minContainer {
    margin-left: 40px;
  }
}
