.containerFinal {
  .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-family: 'Nunito';
      color: #fff;
    }
    .total {
      margin-bottom: 10px;
      h1 {
        margin-top: 20px;
        color: #6c5ce7;
        font-size: 18px;
        span {
          color: #7bed9f;
          font-family: 'Nunito';
        }
      }
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    .buttonBuy {
      width: 21rem;
      padding: 12px;
      color: #fff;
      font-family: 'Nunito';
      font-weight: 600;
      border: none;
      border-radius: 6px;
      background: #6c5ce7;
      margin-top: 30px;
    }
    .buttonBuy:hover {
      background: #f5f6fa;
      color: #6c5ce7;
      transition: 0.3s ease;
    }
  }
  p {
    color: #fff;
    font-size: 20px;
    font-family: 'Nunito';
  }
  input {
    padding: 5px;
    width: 3rem;
    text-align: center;
    background: transparent;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    border: #6c5ce7 1px solid;
    color: #6c5ce7;
  }
}
