.containerCount {
display: flex;
align-items: center;
.subtract, .add{
    button {
      display: flex;
      align-items: center;
      border-radius: 20px !important;
      border: none;
      padding: 2px;
      color: #6c5ce7 !important;
      background: transparent !important;
      cursor: pointer;
      border: #6c5ce7 1px solid !important;
    }
    button:active {
      padding: 1px;
    }
    .trash {
      font-size: 20px;
    }
    .addItem {
      font-size: 20px;
    }
    .outItem {
      font-size: 20px;
    }
    .add {
      margin-left: 5px;
    }
    .subtract {
      margin-right: 5px;
    }
  }
  }
