.inputLabel {
  color: #fff !important;
  font-weight: 300 !important;
  font-family: 'Nunito' !important;
}
.item {
  color: #252525 !important;
  font-weight: 300 !important;
  font-family: 'Nunito' !important;
}
.selected {
  color: #fff !important;
  font-weight: 600 !important;
  font-family: 'Nunito' !important;
}
