body {
  background: #202020;
}
.mobileMenu {
  display: none;
}
nav {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-around;
  background: #191919;

  h1 {
    color: #f1f2f6;
    font-family: 'Poppins';
  }
}
nav h1 span {
  color: #7d5fff;
  font-family: 'Poppins';
}

nav h1 span img {
  margin-left: 10px;
}

nav input {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  outline-color: #2c3a47;
  border: #d1d8e0 2px solid;
  border-radius: 0.5rem;
  padding: 4px;

  width: 35rem;
}

.sub {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.login {
  display: flex;
  flex-direction: row;
}

.login button {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login span {
  margin-right: 5px;
  font-size: 0 !important;
}

.login button:hover {
  background: #be2edd;
}

.login .enterAccount {
  background: #7d5fff;
  font-size: 14px;
  font-weight: 500;
  color: #f1f2f6;
  width: 7rem;
  border: none;
  margin-right: 15px;
}

.login .createAccount {
  width: 9rem;
  color: #f1f2f6;
  font-weight: 500;
  background: #7d5fff;
  border: none;
}

@media screen and (max-width: 980px) {
  nav {
    position: absolute;
    padding: 2rem;
  }

  .mobileMenu {
    display: inline;

    #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked + .menuBtn > span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked + .menuBtn > span::before {
      top: 0;
      transform: rotate(0deg);
    }

    #menu__toggle:checked + .menuBtn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menuBox {
      left: 0 !important;
    }
    .menuBtn {
      position: fixed;
      top: 60px;
      left: 50px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }

    .menuBtn > span,
    .menuBtn > span::before,
    .menuBtn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background: #7d5fff;
      transition-duration: 0.25s;
    }
    .menuItem:hover {
      background: #2c3a47;
    }

    .menuBtn > span::before {
      content: '';
      top: -8px;
    }
    .menuBtn > span::after {
      content: '';
      top: 8px;
    }

    .menuBox {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #181818;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;
    }

    .menuItem {
      display: block;
      padding: 12px 12px;
      color: #fff;
      font-family: 'Poppins';
      font-size: 20px;
      font-family: 600;
      text-decoration: none;
      transition-duration: 0.25s;
    }
    .menuItem:hover {
      background: #7d5fff;
    }

    .icon {
      font-size: 18px;
      color: #7d5fff;
    }
  }

  nav h1 {
    color: #f1f2f6;
    font-family: 'Poppins';
    font-size: 20px;
    margin-left: 15rem;
    width: 100%;
  }
  nav h1 span {
    color: #7d5fff;
    font-family: 'Poppins';
  }

  nav input {
    display: none;
  }

  .login .enterAccount {
    background: #7d5fff;
    font-size: 12px;
    font-weight: 700;
    color: #f1f2f6;
    width: 7rem;
    border: none;
    margin-right: 10px;
  }

  .login .createAccount {
    width: 7rem;
    font-size: 12px;
    color: #f1f2f6;
    font-weight: 700;
    background: #7d5fff;
    border: none;
    margin-right: 10rem;
  }
}
@media screen and (max-width: 960px) {
  nav {
    position: absolute;
    padding: 2rem;
  }

  .mobileMenu {
    display: inline;

    #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked + .menuBtn > span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked + .menuBtn > span::before {
      top: 0;
      transform: rotate(0deg);
    }

    #menu__toggle:checked + .menuBtn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menuBox {
      left: 0 !important;
    }
    .menuBtn {
      position: fixed;
      top: 60px;
      left: 50px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }

    .menuBtn > span,
    .menuBtn > span::before,
    .menuBtn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background: #7d5fff;
      transition-duration: 0.25s;
    }
    .menuItem:hover {
      background: #2c3a47;
    }

    .menuBtn > span::before {
      content: '';
      top: -8px;
    }
    .menuBtn > span::after {
      content: '';
      top: 8px;
    }

    .menuBox {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #181818;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;
    }

    .menuItem {
      display: block;
      padding: 12px 12px;
      color: #fff;
      font-family: 'Poppins';
      font-size: 20px;
      font-family: 600;
      text-decoration: none;
      transition-duration: 0.25s;
    }
    .menuItem:hover {
      background: #7d5fff;
    }

    .icon {
      font-size: 18px;
      color: #7d5fff;
    }
  }

  nav h1 {
    color: #f1f2f6;
    font-family: 'Poppins';
    font-size: 20px;
    margin-left: 15rem;
    width: 100%;
  }
  nav h1 span {
    color: #7d5fff;
    font-family: 'Poppins';
  }

  nav input {
    display: none;
  }

  .login .enterAccount {
    background: #7d5fff;
    font-size: 12px;
    font-weight: 700;
    color: #f1f2f6;
    width: 7rem;
    border: none;
    margin-right: 10px;
  }

  .login .createAccount {
    width: 7rem;
    font-size: 12px;
    color: #f1f2f6;
    font-weight: 700;
    background: #7d5fff;
    border: none;
    margin-right: 8rem;
  }
}


@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    position: absolute;
    padding:2rem;
  }

  .mobileMenu {
    display: inline;

    #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked + .menuBtn > span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked + .menuBtn > span::before {
      top: 0;
      transform: rotate(0deg);
    }

    #menu__toggle:checked + .menuBtn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menuBox {
      left: 0 !important;
    }
    .menuBtn {
      position: fixed;
      top: 60px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }

    .menuBtn > span,
    .menuBtn > span::before,
    .menuBtn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background: #7d5fff;
      transition-duration: 0.25s;
    }
    .menuItem:hover {
      background: #2c3a47;
    }

    .menuBtn > span::before {
      content: '';
      top: -8px;
    }
    .menuBtn > span::after {
      content: '';
      top: 8px;
    }

    .menuBox {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 250px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #181818;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;
    }

    .menuItem {
      display: block;
      padding: 12px 12px;
      color: #fff;
      font-family: 'Poppins';
      font-size: 20px;
      font-family: 600;
      text-decoration: none;
      transition-duration: 0.25s;
    }
    .menuItem:hover {
      background: #7d5fff;
    }

    .icon {
      font-size: 16px;
      color: #7d5fff;
    }
  }

  nav h1 {
    color: #f1f2f6;
    font-family: 'Poppins';
    font-size: 20px;
    margin-left: 10rem;
    width: 100%;
  }
  nav h1 span {
    color: #7d5fff;
    font-family: 'Poppins';
  }

  nav input {
    display: none;
  }

  .login .enterAccount {
    background: #7d5fff;
    font-size: 12px;
    font-weight: 700;
    color: #f1f2f6;
    width: 7rem;
    border: none;
    margin-right: 10px;
  }

  .login .createAccount {
    width: 7rem;
    font-size: 12px;
    color: #f1f2f6;
    font-weight: 700;
    background: #7d5fff;
    border: none;
    margin-right: 7rem;
  }
}

@media screen and (max-width: 660px) {
  nav {
    width: 100%;
    position: absolute;
    padding:2rem;
  }

  .mobileMenu {
    display: inline;

    #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked + .menuBtn > span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked + .menuBtn > span::before {
      top: 0;
      transform: rotate(0deg);
    }

    #menu__toggle:checked + .menuBtn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menuBox {
      left: 0 !important;
    }
    .menuBtn {
      position: fixed;
      top: 50px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }

    .menuBtn > span,
    .menuBtn > span::before,
    .menuBtn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background: #7d5fff;
      transition-duration: 0.25s;
    }
    .menuItem:hover {
      background: #2c3a47;
    }

    .menuBtn > span::before {
      content: '';
      top: -8px;
    }
    .menuBtn > span::after {
      content: '';
      top: 8px;
    }

    .menuBox {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 250px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #181818;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;
    }

    .menuItem {
      display: block;
      padding: 12px 12px;
      color: #fff;
      font-family: 'Poppins';
      font-size: 20px;
      font-family: 600;
      text-decoration: none;
      transition-duration: 0.25s;
    }
    .menuItem:hover {
      background: #7d5fff;
    }

    .icon {
      font-size: 10px;
      color: #7d5fff;
    }
  }

  nav h1 {
    color: #f1f2f6;
    font-family: 'Poppins';
    font-size: 16px;
    margin-left: 8rem;
    width: 100%;
  }
  nav h1 span {
    color: #7d5fff;
    font-family: 'Poppins';
  }

  nav input {
    display: none;
  }

  .login .enterAccount {
    background: #7d5fff;
    font-size: 10px;
    font-weight: 700;
    color: #f1f2f6;
    width: 6rem;
    border: none;
    margin-right:10px;
  }

  .login .createAccount {
    width: 6rem;
    font-size: 10px;
    color: #f1f2f6;
    font-weight: 700;
    background: #7d5fff;
    border: none;
    margin-right: 7rem;
  }
}

@media screen and (max-width: 480px) {
  nav {
    width: 100%;
    position: absolute;
    padding:1rem;
  }

  .mobileMenu {
    display: inline;

    #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked + .menuBtn > span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked + .menuBtn > span::before {
      top: 0;
      transform: rotate(0deg);
    }

    #menu__toggle:checked + .menuBtn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menuBox {
      left: 0 !important;
    }
    .menuBtn {
      position: fixed;
      top: 50px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }

    .menuBtn > span,
    .menuBtn > span::before,
    .menuBtn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background: #7d5fff;
      transition-duration: 0.25s;
    }
    .menuItem:hover {
      background: #2c3a47;
    }

    .menuBtn > span::before {
      content: '';
      top: -8px;
    }
    .menuBtn > span::after {
      content: '';
      top: 8px;
    }

    .menuBox {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 250px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #181818;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;
    }

    .menuItem {
      display: block;
      padding: 12px 12px;
      color: #fff;
      font-family: 'Poppins';
      font-size: 20px;
      font-family: 600;
      text-decoration: none;
      transition-duration: 0.25s;
    }
    .menuItem:hover {
      background: #7d5fff;
    }

    .icon {
      font-size: 10px;
      color: #7d5fff;
    }
  }

  nav h1 {
    color: #f1f2f6;
    font-family: 'Poppins';
    font-size: 10px;
    margin-left: 5rem;
    width: 100%;
  }
  nav h1 span {
    color: #7d5fff;
    font-family: 'Poppins';
  }

  nav input {
    display: none;
  }

  .login .enterAccount {
    background: #7d5fff;
    font-size: 8px;
    font-weight: 700;
    color: #f1f2f6;
    width: 5rem;
    border: none;
    margin-right:5px;
  }

  .login .createAccount {
    width: 5rem;
    font-size: 8px;
    color: #f1f2f6;
    font-weight: 700;
    background: #7d5fff;
    border: none;
    margin-right: 3rem;
  }
}
