body{
  background: #fff;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-around;
  background: #f1f2f6;
  box-shadow: #dfe4ea 3.5px 3.5px 3.5px;
}
nav h1 {
  color: #2c3a47;
  font-family: "Poppins";
}
nav h1 span {
  color:#7d5fff;
  font-family: "Poppins";
}

nav h1 span img{
  margin-left: 10px;
}

nav input {
  margin-left:0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  outline-color: #2c3a47;
  border: #d1d8e0 2px solid;
  border-radius: 0.5rem;
  padding: 0.4rem;
  width: 35rem;
}
nav select {
  padding: 0.4rem;
  text-align: left;
  color: #fff;
  background: #2c3a47;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  outline-color: 2px solid #2c3a47;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

nav select option{
  background: #dfe4ea;
  color: #2c3a47;
}

.sub {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
