.btnDelete,
.btnEditar {
  font-size: 0;
  background: none;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}
.btnDelete {
  color: crimson;
  margin-right: 4px;
}
.btnEditar {
  color: #e67e22;
}
.btnDelete:hover {
    background:crimson;
    color: #fff;
}

.btnEditar:hover {
  color: #fff;
  background: #e67e22;
}